
<style>
body {
    margin: 0;
    font-family: Arial;
    display: flex;
    background: #f4f6f9;
}

.sidebar {
    width: 250px;
    height: 100vh;
    background: #1e293b;
    color: white;
    padding-top: 20px;
    position: fixed;
}

.sidebar h2 {
    text-align: center;
    margin-bottom: 30px;
}

.sidebar a {
    display: block;
    color: white;
    padding: 12px 20px;
    text-decoration: none;
    transition: 0.3s;
}

.sidebar a:hover {
    background: #334155;
}

.content {
    margin-left: 250px;
    padding: 20px;
    width: 100%;
}
<style/>